html{
    color: #1B1C21;
    font-family: "TT Lakes";
    font-size: 14px;
}
body{
    background-color:#F8F8F8;
}
.wrapper{
}
/*--------Шапка------------------------------*/
.main{
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}
.header{
    padding-top: 16px;
} 
.header--text-style{
    color: #7E7E82;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;
    text-transform: uppercase;
} 
@media (min-width: 320px){
    .header{
        width: 288px;
        height: 80px;
        padding-left: 16px;
    }
    .header--back-style{
        background: linear-gradient(270deg, #F8F8F8 0%, #FFF 98.61%);
    }
}
@media (min-width: 768px){
    .header{
        width: auto;
        height: 56px;
        padding-left: 24px;
    }
    .header--back-style{
        background: linear-gradient(90deg, #F8F8F8 1.39%, #FFF 100%);
    }
}
@media (min-width: 1120px){
    .header{
        height: 56px;
        padding-left: 32px;
    }
    .header--back-style{
        background: linear-gradient(270deg, #F8F8F8 0%, #FFF 98.61%);
    }
}
/*--------Тело------------------------------*/
/*----Слайдер-----*/
/*----------*/
.brends{
    display: flex;
}
.brends__item{
    display: flex;
    padding: 16px;
    align-items: center;
    justify-content: space-between;
    
    height: 72px;
}
.brends__item--style{
    border-radius: 6px;
    border: 1px solid #EAEAEA;
    background: #FFF;
}
.brends__logo{
    max-width: 128px;
    max-height: 32px;
}
.brends__arrow{
    width: 40px;
    height: 40px;
}

@media (min-width: 320px){
    .brends{
        padding-left: 16px;
        padding-top: 16px;
        margin-bottom: 38px;
    }
    .brends__item{
        width: 240px;
        max-width: 100%;
    }
    .swiper-pagination-bullet{
        width: 12px;
        height: 12px;
        background-color: #DDD;
    }
    .swiper-pagination-bullet-active {
        background: #B5B6BC;
     }
}

/*--------------------*/
@media (min-width: 768px){
    .brends{
        flex-wrap: wrap;
        column-gap: 24px;
        padding-left: 24px;
        row-gap: 16px;
        padding-top: 24px;
        margin-bottom: 0px;
    }
    .brends__item{
        width: 224px;
    }
    .brends--height{
        max-height: 160px;
        overflow: hidden;
    }
}
@media (min-width: 1120px){
    .brends{
        column-gap: 32px;
        padding-left: 32px;
    }
    .brends__item{
        width: 240px;
    }
}
/*------------Кнопка------------*/
.button{
    padding-left: 32px;
}
.button--more::before{
    position: relative;
    top: 5px;
    content: url("../icons/expand.svg");
}
.button--more::after{
    content: "Показать все";
}
.button--less::before{
    content: url("../icons/expand.svg");
    display: inline-block;
    transform: scale(-1);
}
.button--less::after{
    content: "Свернуть";
}
.checkbox--hidden{
    overflow: hidden;
    width: 1px;
    height: 1px;
}
.button--text-style{
    color: #1B1C21;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;
}
@media (min-width: 320px) {
    .button-hidden{
        display: none;
    }
}
@media (min-width: 768px){
    .button-hidden{
        display: block;
    }
}
/*-------------------------------------------------*/